node_modules/
.next/
out/
dist/
.DS_Store
*.pyc
__pycache__/
.venv/
venv/
env/
.env
/.env.local
/.env.development
/.env.production
coverage/
*.log
*.sqlite3
/etl/data/raw/
/etl/data/exports/
/web/.turbo/
/web/.next/
/.idea/
/.vscode/
